.movesTextBox {
    height: 75%;
    width: 160px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 40px;
    border: 0;
}

.button {
    border: none;
    color: black;
    padding: 25px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    border-radius: 8px;
}

.U {
    background-color: #f0e442
}

.D {
    background-color: #ffffff
}

.L {
    background-color: #cc79a7
}

.R {
    background-color: #d55e00
}

.F {
    background-color: #56b4e9
}

.B {
    background-color: #009e73
}

#activeColor {
    border: 5px solid black;
}

.split {
    height: 100%;
    /* width: 50%; */
    position: fixed;
    z-index: 0;
    top: 0;
    overflow-x: hidden;
    /* padding-top: 20px; */
}

.left {
    left: 0;
    width: 50%;
    z-index: 0;

    background-color: #111;
}

.right {
    right: 0;
    width: 50%;
    background: rgba(240, 230, 220, 0.3);
}

textarea {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    background: rgba(240, 230, 220, 1);
    resize: none; 
}

h1 {
    text-align: center;
}